.s-icon {display:inline-block; background-image: url(~assets/less/sprite.png?); }
.s-icon-adults {width: 24.5px; height: 28px; background-position: -26.5px -75.5px; background-size: 152px 144px;}
.s-icon-calendar {width: 15px; height: 15px; background-position: -98.5px -106.5px; background-size: 152px 144px;}
.s-icon-cancel {width: 15px; height: 15px; background-position: -81.5px -106.5px; background-size: 152px 144px;}
.s-icon-center-about {width: 16px; height: 16px; background-position: -107px -75.5px; background-size: 152px 144px;}
.s-icon-center-coupons {width: 17px; height: 13px; background-position: -132px -109px; background-size: 152px 144px;}
.s-icon-center-flight {width: 19px; height: 19px; background-position: -132px -88px; background-size: 152px 144px;}
.s-icon-center-hotel {width: 15px; height: 14.5px; background-position: -55px -125px; background-size: 152px 144px;}
.s-icon-center-offers {width: 16px; height: 15px; background-position: -103px -58px; background-size: 152px 144px;}
.s-icon-center-set {width: 17px; height: 17.5px; background-position: -36px -125px; background-size: 152px 144px;}
.s-icon-center-support {width: 16px; height: 16px; background-position: -45.5px -106.5px; background-size: 152px 144px;}
.s-icon-center-wallet {width: 16px; height: 16px; background-position: -27.5px -106.5px; background-size: 152px 144px;}
.s-icon-children {width: 24.5px; height: 29px; background-position: 0px -75.5px; background-size: 152px 144px;}
.s-icon-copy {width: 8px; height: 6.5px; background-position: -121px -58px; background-size: 152px 144px;}
.s-icon-flight-fall {width: 13px; height: 13px; background-position: -115.5px -106.5px; background-size: 152px 144px;}
.s-icon-flight-round-back {width: 25.5px; height: 16.5px; background-position: -79.5px -75.5px; background-size: 152px 144px;}
.s-icon-flight-round-go {width: 25.5px; height: 16.5px; background-position: 0px -106.5px; background-size: 152px 144px;}
.s-icon-flight-up {width: 15px; height: 10px; background-position: -42px -32px; background-size: 152px 144px;}
.s-icon-hotel2 {width: 15px; height: 15px; background-position: -74px -29px; background-size: 152px 144px;}
.s-icon-infants {width: 24.5px; height: 24.5px; background-position: -53px -75.5px; background-size: 152px 144px;}
.s-icon-login-bg {width: 40px; height: 44.5px; background-position: 0px 0px; background-size: 152px 144px;}
.s-icon-login {width: 16px; height: 16px; background-position: -63.5px -106.5px; background-size: 152px 144px;}
.s-icon-logo {width: 30px; height: 30px; background-position: -42px 0px; background-size: 152px 144px;}
.s-icon-minus-active {width: 20px; height: 20px; background-position: -132px -66px; background-size: 152px 144px;}
.s-icon-minus {width: 20px; height: 20px; background-position: -132px -22px; background-size: 152px 144px;}
.s-icon-moon {width: 9.5px; height: 10px; background-position: -91px -29px; background-size: 152px 144px;}
.s-icon-offer-flight {width: 16px; height: 19px; background-position: -18px -125px; background-size: 152px 144px;}
.s-icon-offer-hotel {width: 16px; height: 19px; background-position: 0px -125px; background-size: 152px 144px;}
.s-icon-passenger {width: 13.5px; height: 14px; background-position: -87px -46.5px; background-size: 152px 144px;}
.s-icon-plus-active {width: 20px; height: 20px; background-position: -132px 0px; background-size: 152px 144px;}
.s-icon-plus {width: 20px; height: 20px; background-position: -132px -44px; background-size: 152px 144px;}
.s-icon-share-f {width: 27px; height: 27px; background-position: -103px -29px; background-size: 152px 144px;}
.s-icon-share-g {width: 27px; height: 27px; background-position: -103px 0px; background-size: 152px 144px;}
.s-icon-share-i {width: 27px; height: 27px; background-position: -58px -46.5px; background-size: 152px 144px;}
.s-icon-share-l {width: 27px; height: 27px; background-position: -29px -46.5px; background-size: 152px 144px;}
.s-icon-share-t {width: 27px; height: 27px; background-position: 0px -46.5px; background-size: 152px 144px;}
.s-icon-share-u {width: 27px; height: 27px; background-position: -74px 0px; background-size: 152px 144px;}